*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 5%;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    /* scroll-behavior: smooth; */
}
nav{
    background-color: #eeefff;
}
a{
    cursor: pointer;
}
/* ****************************************************** */
.signin-signup{
    width: 45%;
    direction: ltr;
}
#signin , #signup{
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}
#signin{
    border: 1px solid #555;
    color: #555;
    background: transparent;
}
#signup{
    border: 0;
    margin-left: 5px;
    background: #00adb5;
    color: #fff;
}
#signin:hover , #signup:hover{
    background:#132c33 ;
    color: #fff;
}

.signout {
    width: 45%;
    direction: ltr;
}

#signout {
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}

.signout img {
    width: 8%;
    height: 30%;
    margin-left: 10px;
}

.signout #profileEmail {
    color: #00adb5;
    font-weight: bold;
}

#signout {
    border: 1px solid #555;
    color: #555;
}

#signout:hover {
    background: #132c33;
    color: #fff;
}
/* ************************************************ */


#goUp {
    font-size: 60px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: block;
    color: #00adb5;
    transition: all .3s ease;
}
#goUp:hover{
    color: black;
    text-shadow: .5px .5px 9px #555;
    transform: scale(1.1);
}

/* goup smooth */
html {
    scroll-behavior: smooth;
  }



/* loader */
.afterloader{
    display: none;
}
#loader {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #5bc0de;
    border-bottom: 16px solid #5bc0de;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .lessons-list {
    /* width: 25%; */
    /* border: 1px solid #ccc; */
    margin: auto 5px 5px 0;
    height: max-content;
}
.lessons-list>li{
    margin: 1em auto;
}

.lesson-list-header {
    width: 100%;
    box-shadow: .5px .5px 5px #ccc;
    padding: 20px 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson-list-header h3 {
    color: #555;
    margin: 5px;
}

.lesson-list-header i {
    cursor: pointer;
    font-size: 22px;
    color: #555;
    padding: 5px;
    margin: 5px;
}

.show-lessons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    border: 1px solid #dedfe0;
    background-color: #f7f8fa;
}

.show-lessons-Btn {
    width: 90%;
    height: 100%;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    text-align: right;
    padding: 5px;
    margin-right: 5px;
    color: #3c3b37;
}

#lessons-down-angle {
    width: 9.5%;
    font-size: 26px;
    color: #3c3b37;
    cursor: pointer;
}

.show-lessons:hover {
    background-color: #eee;
    cursor: pointer;
}

.lesson-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lesson-desc span {
    padding: 5px;
    font-size: 18px;
    color: #14171c;
}

.lesson-chekbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    margin-left: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.lesson-chekbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #bbb;
    box-shadow: .5px .5px 2px #ccc;
}


/* On mouse-over, add a grey background color */

.lesson-chekbox:hover input~.custom-checkbox {
    background-color: #fff;
    border-color: #00adb5;
}


/* When the checkbox is checked, add a blue background */

.lesson-chekbox input:checked~.custom-checkbox {
    background-color: #00adb5;
}


/* Create the checkmark/indicator (hidden when not checked) */

.custom-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.lesson-chekbox input:checked~.custom-checkbox:after {
    display: block;
}


/* Style the checkmark/indicator */

.lesson-chekbox .custom-checkbox:after {
    left: 6px;
    top: 1.5px;
    width: 3.5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/**********************************************************************/

.lesson-section {
    /* display: flex; */
    /* height: 1000px; */
    width: 90%;
    margin-top: 2em;
    /* margin: 40px ; */
}

.lesson-video {
    background-color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin: auto;
}


/* ************************************************ */

#commentMessage {
    width: 40%;
    height: 2.5em;
    padding: .5em;
    border-radius: 3px;
    border: 2px solid;
}

.sidebar {
    position: fixed;
    top: 65px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 250px;
}


/* ************************************************ */
.course-link {
    margin-top: 4em;
    display: none !important;
    background-color: #00adb5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


@media screen and (max-width: 990px) {
    .hide-lessons {
        height: 0vh;
        visibility: hidden;
    }
    .lesson-collection {
        transition: all .5s;
    }
    .list-toggle {
        cursor: pointer;
    }
}

@media screen and (min-width: 991px) {
    .list-toggle {
        display: none;
    }
}


@media screen and (max-width: 769px) {
    .course-link {
        display: block !important;
        cursor: pointer;

    }
    #adding{
        margin-left: 1.5em;
        float: right;

    }
    .main{
        margin-top: 5em;
    }
    .lesson-section{
        width: 100%;
        margin: 0;
    }
    #navbarNavDropdown>ul{
        text-align: right;
    }
    .sidebar{
        position: relative !important;
        width: 100% !important;
        margin: auto;
        overflow-y: hidden !important;
    }

    /* video */
    #progressBar{
        width: 55% !important;
    }
    #commentMessage{
        width: 100% !important;
    }
}

@media screen and (max-width: 425px) {
    .course-link {
        display: block !important;
        cursor: pointer;

    }
        /* video */
        #progressBar{
            width: 25% !important;
        }
}

@media screen and (max-width: 1024px) {
    /* video */
    #progressBar{
        width: 67% !important;
    }
}