
/* General */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body{
    margin-top: 5%;
    direction: rtl;
     scroll-behavior: smooth;
} */

body{
    height: 100vh;
    background-color: aliceblue;
    /* background: linear-gradient(-107deg , black , gray) !important; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
}


.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px ;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.card-body{
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
}

.form-input{
    position: relative;
}

.form-input input{
    width: 100%;
    height: 45px;
    padding-right: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border :1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
    direction: rtl;
}

.form-input span{
    position: absolute;
    top: 10px;
    padding-right: 15px;
    color:#007bff;
}

.form-input input::placeholder{
    color: black;
    padding-left: 0px;
}

.form-input input:focus,
.form-input input:valid{
    border: 2px solid #007bff;
}

.form-input input:focus::placeholder{
    color:#454b69;
}

.custom-checkbox {
    float: right;
}

.custom-checkbox .custom-control-input:checked
~ custom-control-lable::before{
    background-color: #007bff !important;
    border: 0px;
}

.form-box button[type="submit"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background :#007bff;
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    padding: 12px;
}

.form-box button[type="submit"]:hover{
    background: #0069d9;
}

.forget-link , .register-link{
    color: #007bff;
    font-weight: bold;
}

.forget-link:hover , .register-link:hover{
    color: #0069d9;
    text-decoration: none;
}

.form-box .btn-social{
    color:white;
    border: 0;
    border-radius: 50%;
    font-weight: bold;
}

.form-box .btn-facebook a ,
.form-box .btn-google a ,
.form-box .btn-twitter a{
    background: none;
    direction: none;
    font-size: 50px;
}

 .form-box .btn-google i{
    color: #da3f34;
}

.form-box .btn-twitter i{
    color: #33ccff;
}

.form-box .btn-facebook i:hover{
    color: #3d578f;
}

.form-box .btn-google i:hover{
    color: #bf3b31;
}

.form-box .btn-twitter i:hover{
    color: #2eb7e5;
}



/* loader */
.afterloader{
    display: none;
}
#loader {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #5bc0de;
    border-bottom: 16px solid #5bc0de;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

