*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 5%;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    /* scroll-behavior: smooth; */
}
nav{
    background-color: #eeefff;
}

/* ****************************************************** */
.signin-signup{
    width: 45%;
    direction: ltr;
}
#signin , #signup{
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}
#signin{
    border: 1px solid #555;
    color: #555;
    background: transparent;
}
#signup{
    border: 0;
    margin-left: 5px;
    background: #00adb5;
    color: #fff;
}
#signin:hover , #signup:hover{
    background:#132c33 ;
    color: #fff;
}

.signout {
    width: 45%;
    direction: ltr;
}

#signout {
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px;
    transition: all .6s;
    cursor: pointer;
}

.signout img {
    width: 8%;
    height: 30%;
    margin-left: 10px;
}

.signout #profileEmail {
    color: #00adb5;
    font-weight: bold;
}

#signout {
    border: 1px solid #555;
    color: #555;
}

#signout:hover {
    background: #132c33;
    color: #fff;
}




.containerStyle {
    height: 50vh;
    background: linear-gradient(-107deg ,#0F80B5 , #02B5B5);
}


.containerStyle h1{
    color: white;   
    padding-top: 75px; 
}

.text-search{
    height: 40px;
    width: 70%;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    padding-right: 20px;
    outline: none;
}

.searchBtn{
    position: absolute;
    left: 13%;
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 5px;
}


/* ----------- */

.courses{
    padding: 50px 0;
}

.courses img{
    width: 100%;
}

.courses a{
    background: #40aee0;
    color: white;
    width: 50%;
    height: 15%;
}

.courses a:hover{
    color: white;
    background: #07e7e7;
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-color: rgba(169, 169, 169, 0.603);
}

.layer a{
    top: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer:hover a{
    bottom: 50%;
    opacity: 1;
}


/* loader */
.afterloader{
    display: none;
}
#loader {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid #5bc0de;
    border-bottom: 16px solid #5bc0de;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    left: 45%;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media screen and (max-width: 769px) {
    #adding{
        margin-left: 1.5em;
    }

    #navbarNavDropdown>ul{
        text-align: right;
    }
    #adding{
        float: right;
    }
}